*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: rgb(209, 209, 209);
}

.main{
    background-color: rgb(1, 48, 67);
    width: 950px;
    height: 660px;
    border-radius: 30px;
    padding: 1rem;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cyan{
    position: absolute;
    bottom: -10%;
    width: 900px;
    height: 700px;
    left: -15%;
}

.black{
    position: absolute;
    width: 900px;
    height: 700px;
    top: -25%;
    right: -20%;
}

.signup{
    background-color: whitesmoke;
    height: 575px;
    width: 400px;
    box-shadow: 0 8px 32px 0 rgba(3, 3, 4, 0.37);
}

.signup .signup-image{
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
    
}

.signup .signup-image img{
    width: 100%;
    height: 100%;
}

.signup .signup-image .txt{
    position: absolute;
}

.signup .signup-form {
    position: relative;
}

.signup .signup-form .min-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 10px 0.4rem;
}

.signup .signup-form .details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 2rem 3rem 2rem;
}

.signup .signup-form .details .same input{
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;

}

.signup .signup-form .details .same {
    display: flex;
    align-items: center;
    width: 100%;
}

.signup .signup-form .details .same i{
    font-size: 1rem;
    padding: 0.9rem;
    background-color: white;
    color: #03d7a6;
}

.signup .signup-form .signup-btn{
    position: absolute;
    padding: 1rem;
    right: -6%;
    bottom: 0.5%;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #03d7a6;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.signup .signup-form .signup-btn i{
    font-size: 1.8rem;
    color: white;
}

.signup .signup-form p{
    text-align: center;
}