*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: rgb(209, 209, 209);
}

